<%= form_for @sz do |f| %>

  <table class='form_table'>
    <tr>
      <td><%= f.label "№ ОВКС:" %></td>
      <td><%= f.text_field :ovks_num %></td>
    </tr>
    <tr>
      <td><%= f.label "Дата заявки:" %></td>
      <td><%= f.date_select :date %></td>
    </tr>
    <tr>
      <td><%= f.label "Тип:" %></td>
      <td><%= f.collection_select :sz_type_id, @sz_types, :id, :name %></td>
    </tr>
    <tr>
      <td><%= f.label "Сотрудник:" %></td>
      <td><%= f.collection_select :employee_id, @employees, :id, :fio %></td>
    </tr>
    <tr>
      <td><%= f.label :user_id, "Исполнитель:" %></td>
      <td><%= f.collection_select :user_id, @users, :id, :fio %></td>
    </tr>
    <tr>
      <td><%= f.label "Примечание:" %></td>
      <td><%= f.text_area :note %></td>
    </tr>
    <tr>
      <td><%= f.label "Скан:" %></td>
      <td><%= f.file_field :scan %></td>
    </tr>
    <tr>
      <td><%= f.label :done, "Выполнено:" %></td>
      <td><%= f.check_box :done %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit 'Сохранить' %></td>
    </tr>
  </table>

<% end %>