<div id="notice"><%= notice %></div>
<h1>Группы</h1>

<div class='controls'>
  <%= link_to 'Добавить', new_group_path(@group) %>
</div>

<br/>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Название', "?order_by=title&order=#{@order}" %></th>
      <th><%= link_to 'Год создания', "?order_by=formation_year&order=#{@order}" %></th>
      <th><%= link_to 'Страна', "?order_by=country&order=#{@order}" %></th>
      <th><%= link_to 'Хит-парад', "?order_by=top_position&order=#{@order}" %></th>
      <th colspan='2' class='controls'></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group['title'], "/groups/#{group['id']}" %></td>
        <td><%= group['formation_year'] %></td>
        <td><%= group['country'] %></td>
        <td><%= group['top_position'] %></td>
        <td class='controls'><%= link_to 'Изменить', edit_group_path(group['id']) %></td>
        <td class='controls'><%= link_to 'Удалить', "/groups/#{group['id']}", method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div class='controls'>
  <%= link_to 'Добавить', new_group_path(@group) %>
</div>