<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Композитор" %><br>
    <%= f.text_field :music_by %>
  </div>
  <div class="field">
    <%= f.label "Автор текста" %><br>
    <%= f.text_field :lyrics_by %>
  </div>
  <div class="field">
    <%= f.hidden_field :group_id, value: @song.group_id %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
