<div id="notice"><%= notice %></div>
<h1><%= "Песни #{@group['title']}" %></h1>

<div class='controls'>
  <%= link_to 'Добавить', new_group_song_path(@group['id']) %> |
  <%= link_to 'Назад', group_path(@group['id']) %>
</div>

<br/>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Название', "?order_by=title&order=#{@order}" %></th>
      <th><%= link_to 'Композитор', "?order_by=music_by&order=#{@order}" %></th>
      <th><%= link_to 'Автор текста', "?order_by=lyrics_by&order=#{@order}" %></th>
      <th colspan='2' class='controls'></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song['title'] %></td>
        <td><%= song['music_by'] %></td>
        <td><%= song['lyrics_by'] %></td>
        <td class='controls'><%= link_to 'Изменить', edit_group_song_path(song['group_id'],song['id']) %></td>
        <td class='controls'><%= link_to 'Удалить', song_path(song['id']), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div class='controls'>
  <%= link_to 'Добавить', new_group_song_path(@group['id']) %> |
  <%= link_to 'Назад', group_path(@group['id']) %>
</div>