<tr  <%= "class=done" if nz.given_to_id %>>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= link_to nz.ovks_num, nz %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= link_to '', nz.scan, class: 'icon_24 scan_24' if nz.scan %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= date(nz.date) %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= nz.contract_num %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= nz.code %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= nz.destination %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>' class='caped_width'><%= nz.apk_name %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= nz.decimal_num %></td>
  <td rowspan='<%= nz.grouped_items.size+1 %>'><%= nz.zav_num %></td>

   <% if nz.grouped_items.empty? %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= date(nz.buy_till) %></td>
    <td><%= first_name(nz.manager.fio) if nz.manager_id %></td>
    <td><%= nz.sp_si %></td>
    <td><%= first_name(nz.given_to.fio) if nz.given_to_id %></td>
    <td class='caped_width'><%= nz.note %></td>
    <td><%= link_to '', edit_nz_path(nz), class: 'icon_24 edit_24' %></td>
    <td><%= link_to '', nz_path(nz), method: :delete, data:{confirm: "Вы уверены?"}, class: 'icon_24 delete_24' %></td>
  <% end %>
</tr>

<% nz.grouped_items.each do |item| %>
  <%= render item, owner: nz %>
<% end %>