<% if @bps[bill.id].nil? %>
  <tr>
    <td><%= link_to bill.ovks_num, bill %></td>
    <td><%= link_to("", bill.skan, class: 'icon_24 skan_24') if bill.skan %></td>
    <td><%= bill.bill_num %></td>
    <td><%= date(bill.bill_date) %></td>
    <td><%= bill.vendor.title %></td>
    <td><%= bill.total_sum %></td>
    <td><%= date(bill.payment_date) %></td>
    <td><%= date(bill.closing_date) %></td>
    <td><%= link_to("", bill.closing_skan, class: 'icon_24 skan_24') if bill.closing_skan %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='receipt_checkbox_container'></td>
    <td><%= link_to '', edit_bill_path(bill), class: 'icon_24 edit_24' %></td>
    <td><%= link_to '', bill, method: :delete, data:{confirm: 'Вы уверены?'}, class: 'icon_24 delete_24' %></td>
  </tr>
<% elsif @bps[bill.id][:size]==1 %>
  <tr <%= "class=done" if bill.closing_date %>>
    <td><%= link_to bill.ovks_num, bill %></td>
    <td><%= link_to("", bill.skan, class: 'icon_24 skan_24') if bill.skan %></td>
    <td><%= bill.bill_num %></td>
    <td><%= date(bill.bill_date) %></td>
    <td><%= bill.vendor.title %></td>
    <td><%= bill.total_sum %></td>
    <td><%= date(bill.payment_date) %></td>
    <td><%= date(bill.closing_date) %></td>
    <td><%= link_to("", bill.closing_skan, class: 'icon_24 skan_24') if bill.closing_skan %></td>
    <td><%= @bps[bill.id][:bps][0].type.name %></td>
    <td><%= @bps[bill.id][:bps][0].model %></td>
    <td><%= @bps[bill.id][:bps][0].count %></td>
    <td><pre><%= @bps[bill.id][:bps][0].sn %></pre></td>
    <td><%= link_to @bps[bill.id][:bps][0].reason.ovks_num, @bps[bill.id][:bps][0].reason if @bps[bill.id][:bps][0].has_reason? %></td>
    <td><%= link_to @bps[bill.id][:bps][0].receipt.ovks_num, receipt_path(@bps[bill.id][:bps][0].receipt_id) if @bps[bill.id][:bps][0].receipt_id %></td>
    <td class='receipt_checkbox_container'><%= check_box_tag '', @bps[bill.id][:bps][0].id, false, class: 'receipt_checkbox' unless @bps[bill.id][:bps][0].receipt_id %></td>
    <td><%= link_to '', edit_bill_path(bill), class: 'icon_24 edit_24' %></td>
    <td><%= link_to '', bill, method: :delete, data:{confirm: "Вы уверены?"}, class: 'icon_24 delete_24' %></td>
  </tr>
<% else %>
  <tr <%= "class=done" if bill.closing_date %>>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= link_to bill.ovks_num, bill %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= link_to("", bill.skan, class: 'icon_24 skan_24') if bill.skan %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= bill.bill_num %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= date(bill.bill_date) %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= bill.vendor.title %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= bill.total_sum %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= date(bill.payment_date) %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= date(bill.closing_date) %></td>
    <td rowspan='<%= @bps[bill.id][:size]+1 %>'><%= link_to("", bill.closing_skan, class: 'icon_24 skan_24') if bill.closing_skan %></td>
  </tr>

  <% @bps[bill.id][:bps].each do |bill_position| %>
    <%= render bill_position, bill: bill %>
  <% end %>
<% end %>