<tr id='bill_pos_form'>
  
    <td><%= collection_select(:bill_pos, :type_id, @types, :id, :name, {}, {id: 'form_type_id'}) %></td>
    <td><%= text_field_tag :model ,nil, id:'form_model' %></td>
    <td><%= text_field_tag :count, nil, id:'form_count', size: 5, max: 5 %></td>
    <td><%= text_field_tag :sn, nil, id: 'form_sn' %></td>
    <td></td>
    <td colspan='2'>
      <%= hidden_field_tag :bill, @bill.id, id: 'form_bill_id' %>
      <%= submit_tag '', class: 'icon_24 add_24', id: 'form_submit' %>
    </td>
  
</tr>