<div class='page_title'>
  <h3>Счёт № <%= @bill.ovks_num %></h3>
  <%= link_to '', edit_bill_path(@bill), class: 'icon_24 edit_24' %>
</div>

<div class='info'>
  <div class='item_info'>
    <table>
      <tr>
        <th>№ Счёта</th>
        <td><%= @bill.bill_num %></td>
      </tr>
      <tr>
        <th>Дата счёта</th>
        <td><%= date(@bill.bill_date) %></td>
      </tr>
      <tr>
        <th>Поставщик</th>
        <td><%= @bill.vendor.title %></td>
      </tr>
      <tr>
        <th>Сумма</th>
        <td><%= @bill.total_sum %></td>
      </tr>
      <tr>
        <th>Дата оплаты</th>
        <td><%= date(@bill.payment_date) %></td>
      </tr>
    </table>
  </div>

  <div class='scan'>
    <% if @bill.skan %>
      <iframe src='<%= @bill.skan %>'></iframe>
      <%= link_to 'Увеличить', @bill.skan %>
    <% else %>
      <p>Скан не загружен</p>
    <% end %>
  </div>

</div>

<div class='clear_fix'></div>

<div class='bill_positions'>
  <table class='major_table'>

    <thead>
      <tr>
        <td>Тип</td>
        <td>Модель</td>
        <td>Кол-во</td>
        <td>S/N</td>
        <td>Основание</td>
        <td colspan='2'></td>
      </tr>
    </thead>

    <tbody>
      <% @bill.bill_positions.each do |bp| %>
        <tr>
          <td><%= bp.type.name %></td>
          <td><%= bp.model %></td>
          <td><%= bp.count %></td>
          <td><pre><%= bp.sn %></pre></td>
          <td><%= bp.reason.ovks_num if bp.has_reason? %></td>
          <td><%= link_to '', edit_bill_bill_position_path(@bill, bp), class: 'icon_24 edit_24' %></td>
          <td><%= link_to '', bill_bill_position_path(@bill, bp), class: 'icon_24 delete_24', method: :delete, data: {confirm: "Вы уверены?"} %></td>
        </tr>
      <% end %>
      <%= render 'position_form' %>
    </tbody> 

  </table>    
</div>

<%= link_to 'Назад', bills_path %>