<p id="notice"><%= notice %></p>

<h1><%= @group['title'] %></h1>
<h1>Программа "<%= @tour['title'] %>"</h1>

<div class='controls'>
	<%= link_to 'Добавить', new_tour_concert_path(@tour['group_id'],@tour['id']) %> |
	<%= link_to 'Назад', group_tours_path(@tour['group_id']) %>
</div>

<br/>

<table>
	<thead>
		<tr>
			<th><%= link_to 'Дата', "?order_by=date&order=#{@order}" %></th>
			<th><%= link_to 'Город', "?order_by=city&order=#{@order}" %></th>
			<th><%= link_to 'Страна', "?order_by=country&order=#{@order}" %></th>
			<th><%= link_to 'Цена билета', "?order_by=ticket_price&order=#{@order}" %></th>
			<th colspan='2' class='controls'></th>
		</tr>
	</thead>

	<tbody>
		<% @concerts.each do |concert| %>
			<tr>
				<td><%= concert['date'].to_date.strftime('%d.%m.%Y') %></td>
				<td><%= concert['city'] %></td>
				<td><%= concert['country'] %></td>
				<td><%= concert['ticket_price']%></td>
				<td class='controls'><%= link_to 'Изменить', edit_tour_concert_path(@tour.group_id, concert['tour_id'], concert['id']) %></td>
        <td class='controls'><%= link_to 'Удалить', concert_path(concert['id']), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
			</tr>
		<% end %>
	</tbody>

</table>

<br/>

<div class='controls'>
	<%= link_to 'Добавить', new_tour_concert_path(@tour['group_id'],@tour['id']) %> |
	<%= link_to 'Назад', group_tours_path(@tour['group_id']) %>
</div>
