<h3>Сотрудники</h3>

<%= link_to 'Добавить отдел', new_department_path %> |
<%= link_to 'Добавить сотрудника', new_employee_path %>

<div class='clear_fix'></div>

<div class='table_background'>
  <table class='major_table'>

    <thead>
      <tr>
        <th>Название</th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Телефон</th>
        <th colspan='2'></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <%= render department %>
      <% end %>
    </tbody>
  </table>
</div>

<div class='clear_fix'></div>

<%= link_to 'Добавить отдел', new_department_path %> |
<%= link_to 'Добавить сотрудника', new_employee_path %>