<%= form_for @item do |f| %>

  <table class='form_table'>
    <tr>
      <td><%= f.label "Тип:" %></td>
      <td><%= f.collection_select(:type_id, @types, :id, :name) %></td>
    </tr>
    <tr>
      <td><%= f.label "Название" %></td>
      <td><%= f.text_area :name %></td>
    </tr>
    <tr>
      <td><%= f.label "Подробно" %></td>
      <td><%= f.text_area :info %></td>
    </tr>
    <tr>
      <td><%= f.label "Отработка" %></td>
      <td><%= f.text_area :done_info %></td>
    </tr>
    <tr>
      <td><%= f.label :done, "Отработано" %></td>
      <td><%= f.check_box :done %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit 'Сохранить' %></td>
    </tr>
  </table>

<% end %>