$('#form_name').val('')
$('#form_count').val('')
$('#form_info').val('')
$('#form_done_info').val('')

<% @items.each do |item| %>
  form = $('#sz_item_form').length > 0 ? $('#sz_item_form') : $('#nz_item_form')
  form.before("\
    <tr>\
      <td><%= item.type.name %></td>\
      <td><%= item.name %></td>\
      <td><%= item.info.gsub(%Q{\n}, %Q{\\\n}) %></td>\
      <td><%= item.done_info.gsub(%Q{\n}, %Q{\\\n}) %></td>\
      <td><%= escape_javascript link_to '', edit_item_path(item), class: 'icon_24 edit_24' %></td>\
      <td><%= escape_javascript link_to '', item_path(item), method: :delete, class: 'icon_24 delete_24' %></td>\
    </tr>")
<% end %>