<tr <%= "class=done" if bill.closing_date %>>
  <td><%= bill_position.type.name %></td>
  <td class='caped_width'><%= bill_position.model %></td>
  <td><%= bill_position.count %></td>
  <td><pre><%= bill_position.sn %></pre></td>
  <td><%= link_to bill_position.reason.ovks_num, bill_position.reason if bill_position.has_reason? %></td>
  <td><%= link_to bill_position.receipt.ovks_num, receipt_path(bill_position.receipt_id) if bill_position.receipt_id %></td>
  <td class='receipt_checkbox_container'><%= check_box_tag '', bill_position.id, false, class: 'receipt_checkbox' unless bill_position.receipt_id %></td>
  <% if bill_position == @bps[bill_position.bill_id][:bps].first %>
    <td rowspan='<%= @bps[bill_position.bill_id][:size] %>'><%= link_to '', edit_bill_path(bill), class: 'icon_24 edit_24' %></td>
    <td rowspan='<%= @bps[bill_position.bill_id][:size] %>'><%= link_to '', bill, method: :delete, data:{confirm: "Вы уверены?"}, class: 'icon_24 delete_24' %></td>
  <% end %>
</tr>