<%= form_for(@vendor) do |f| %>

  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='form_table'>
    <tr>
      <td><%= f.label "Наименование:" %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label "Адрес:" %></td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td><%= f.label "Телефон:" %></td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label "Дополнительно:" %></td>
      <td><%= f.text_field :note %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit 'Сохранить' %></td>
    </tr>
  </table>

<% end %>