<h3>Поставщики</h3>

<%= link_to 'Добавить поставщика', new_vendor_path %>

<div class='clear_fix'></div>

<div class='table_background'>
  <table class='major_table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Дополнительно</th>
        <th colspan=2></th>
      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= vendor.title %></td>
          <td><%= vendor.address %></td>
          <td><%= vendor.phone %></td>
          <td><%= vendor.note %></td>
          <td colspan=2>
            <%= link_to '', edit_vendor_path(vendor), class: 'icon_24 edit_24' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='clear_fix'></div>

<%= link_to 'Добавить поставщика', new_vendor_path %>
