<tr <%= "class=done" if receipt.employee_id %>>
  <td><%= item.type.name %></td>
  <td class='caped_width'><%= item.model %></td>
  <td><%= item.count %></td>
  <td><pre><%= item.sn %></pre></td>

  <% if receipt && item == receipt.bill_positions.first %>
    <td rowspan='<%= receipt.rowspan-1 %>'><%= receipt.employee.first_name if receipt.employee_id %></td>
    <td rowspan='<%= receipt.rowspan-1 %>'><%= receipt.user.first_name if receipt.user_id %></td>
    <td rowspan='<%= receipt.rowspan-1 %>' class='caped_width'><%= receipt.note %></td>
    <td rowspan='<%= receipt.rowspan-1 %>'><%= link_to '', edit_receipt_path(receipt), class: 'icon_24 edit_24' %></td>
    <td rowspan='<%= receipt.rowspan-1 %>'><%= link_to '', receipt_path(receipt), method: :delete, data:{confirm: "Вы уверены?"}, class: 'icon_24 delete_24' %></td>
  <% end %>
</tr>